body {
    background-color: #2B8A41; 
    font-family: 'Poppins', sans-serif;
    color: #FEFEFE;
}

h1, 
h2 {
    color: #FEFEFE;
}

a {
    color: #FEFEFE;
}

a:hover {
    color: #FEFEFE;
}

.btn:focus, .btn:active, .btn:visited {
    outline: none !important;
    box-shadow: none !important;
    background-color: #2B8A41;
}

#finalScore {
    font-weight: bold;
}

#answerCheck {
    font-style: italic;
    color:  #FEFEFE;
}
