body {
    background-color: #0D0D0D); 
    font-family: 'Poppins', sans-serif;
    color: #3C9551;
}

h1, 
h2 {
    color: #3C9551;
}

a {
    color: #3C9551;
}

a:hover {
    color: #FEFEFE;
}

.btn:focus, .btn:active, .btn:visited {
    outline: none !important;
    box-shadow: none !important;
    background-color: #343a40;
}

#finalScore {
    font-weight: bold;
}

#answerCheck {
    font-style: italic;
    color: #3C9551;
}
